@import './variables.scss';




.blog-wrapper{
    text-align: center;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    background: linear-gradient(to top , $background_light ,$background_light, white);
    h2{
        background: linear-gradient(to right, #ffffff,$background_light);
        color:#000000dc;
        text-align: right;
        padding-right: 10rem;
        @include phone {
       text-align: center;
       font-size: 1.3rem;
        }
    }
    @include phone {
        padding-bottom: 2rem!important;
    }

    background-size: cover;
    &-container{
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr ;
        padding:1rem;
        &:hover{
            cursor: pointer;
        }
        @include phone {
      display: flex;
       flex-direction: column;
        }
    }
    img{
        border-radius: 2px;
        box-shadow: $box-shadow;
        width:100%;
        height:auto;
    }

}

.redirect_page{
    p{
        font-weight: 500;
     
        background: white;
        padding:10px 30px;
        border-top:1px solid black;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            background: rgba(0, 0, 0, 0.726);
            color:white;
            border-radius: 4px;
        }
    }
    max-width: 200px;
    margin: 0 auto;

}


@keyframes move_arrow {
    0% {position: relative;
        bottom:1vh; }
    50% { position: relative;
        bottom:-1vh;  }
    100%{position: relative;
         bottom:1vh; }
  }