@import './variables.scss';

.blog-wrapper{

    text-align: center;
    box-shadow: $box-shadow;
    margin-bottom:4rem;
    h2{
        background: #ddb23bdc;
        margin-right:-2rem;
        margin-left:-2rem;
        margin-bottom: 2rem;

    }
    background: url('../images/blog.jpg');
    background-size: cover;
    &-container{
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: 1fr 1fr ;
        padding:1rem;
        @include phone {
            grid-template-columns: repeat(auto-fill, 380px);
            margin: 0 auto;
        }
    }
    img{
        border-radius: 2px;
        box-shadow: $box-shadow;
    }

}

.redirect_page{
    p{
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: underline;
        background: white;
        padding:10px 30px;
        transition: all .3s ease-in-out;
        &:hover{
            cursor: pointer;
            background: rgba(0, 0, 0, 0.726);
            color:white;
            border-radius: 4px;
        }
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    
}


@keyframes move_arrow {
    0% {position: relative;
  
        bottom:1vh; }
    50% { position: relative;
     
        bottom:-1vh;  }
    100%{position: relative;
         bottom:1vh; }
  }