@import './variables.scss';

.calendar__wrapper{
    transition: all.3s ease-in-out;
    padding:2rem 1.5rem 2rem 2.5rem;
    min-height: 100vh;
    text-align: center;
    button{
        @include button-secondary;
    }
    h3{
        max-width: 600px;
        margin: 0 auto;
        font-weight: 400;
        margin-bottom: 2rem;
    }
}



.contacts_wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
      grid-gap: .1rem;
    grid-template-columns: repeat(auto-fill, 306px);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    li{
        width: 100%;
    }
}

.calendarItem__wrapper{
    background:$background_light;
    align-items: center;
    border: 1px solid black;
     padding: 30px 50px;
    @include phone{

        flex-direction: column;
        align-items: center;
    }

    img{
        border:3px solid black;
        border-radius: 100%;
        margin: 20px 0px ;
        @include phone{
            width:200px;
        }
    }
}





.eventDate{

    @include phone{
        right:0;
        box-shadow: none;
    }
}

.eventCity{

    padding:1.7rem 0rem;
    display: flex;
    justify-content: flex-start;
    @include phone{
        box-shadow: none;
        flex-direction: column;
        max-width: 300px;
        align-items: center;
    }

    span{
        padding:.2rem 4rem;
        color:white;
        font-weight: 500;
        border-top: .5px solid rgba(0, 0, 0, 0.815);
        border-bottom: .5px solid rgba(0, 0, 0, 0.815);
        left:5vw;
        @include phone{
            left:0;
            padding:.2rem 5rem;
        }
    }
}


