@import './variables.scss';

.contacts__container{
    background:#eeeeee;
    box-shadow: $box-shadow;
 min-height: 70vh;

    @include phone {
        padding-bottom: 2rem;
        width:100%;
      }
    h2{
    text-align: center;
    background: $bg_three;
    color:#ffffff;
    border-top-right-radius: 60px 5px;
    border-top-left-radius: 60px 5px;
    margin-bottom: 1rem;
    padding:.5rem 1rem;
    @include tablet {
      
       border-radius: 0px;
  
      }
    }
    h2 + h3{
        max-width: 500px;
        font-weight: 300;
        text-align: center;
        margin:0 auto;
        @include phone {
          margin-bottom: 1rem;
          }
    }
    h3 + p {
      text-align: center;
      margin-bottom: 2rem;
    }
}

.contacts__info{
    display: grid;
    grid-gap: 2rem;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    @include tablet {
      grid-template-columns:minmax(min-content, auto);
        justify-content: center;
        justify-items: center;
      }
    form{
        display: flex;
        flex-direction: column;
        width: 400px;
        margin:0 auto;

         @include tablet {
           padding-bottom: 0rem;
           width:100%;
          }
        input{
            padding:1rem 2rem;
            width:100%;
            margin-bottom: 2rem;
            @include phone{
              margin-bottom: 1rem;
            }
        }
        button{
            @include button-primary;
            margin:0 auto;
            padding:.6rem 2rem;
        }
    }

    div{
      p{
          font-size: 1.3rem;
          margin-bottom: .7rem;
          font-weight: 500;
          @include phone {
            font-size: 1.1rem;
          }

      }
      p + p {
          margin-bottom: 2rem;
          @include phone {
            margin-bottom: 1rem;
          }
          
      }
      p + p + p{
        color:rgba(0, 0, 0, 0.541);
        font-weight: 300;
    }

    img{
        margin:10px;
        border-radius: 100%;
        transition:all .3s ease-in-out;
        &:hover{
            cursor:pointer;
            transform: scale(1.1);
        }
    }
    }
   
 
}