footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #1c1c1d;
    color:white;
    padding:1rem 1.5rem 1rem 2.5rem;
    justify-content: space-between;
    align-items: center;
 
    ul{
        max-width: 500px;
        display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    li{
        margin:.3rem;
        &:last-child{
            margin-right:0rem;
        }
    }
    }
    span{
        margin:5px;
        font-size: .8rem;
    }
}