.container_instructor{
    margin-bottom: 4rem;
    min-height: 100vh;
    h1{

        text-align: center;
    }

    h2{
        text-align: center;
    }
  img{
      margin: 0 auto;
      margin-bottom: 2rem;
      width:500px;
      height:400px;
      display: block;
  }
  h3{
      text-align: center;
  }
  p{
      text-align: center;
      margin: 1rem;
      padding: 1rem;
      max-width: 700px;
      margin:0 auto;
      border-bottom: .3px solid rgb(48, 45, 45);
      &:last-child{
          border-bottom: 0px;
      }
  }
}