
@import './variables.scss';

.container_instructor{
    margin-bottom: 4rem;
    min-height: 100vh;
    @include tablet {
        margin-bottom: 2rem;
    }
    h1{
        text-align: center;
        margin-bottom: 2rem;
        border-top-right-radius:20px 90px; 
        border-top-left-radius:20px 90px; 
        border-bottom-left-radius:10px 90px; 
        border-bottom-right-radius:10px 90px; 
        box-shadow: $box-shadow-bottom;
    }

    .shapka_female{
        background: #eeeeee;
    }

    .shapka_male{
        background:#eeeeee;
    }

    h2{
        text-align: center;
    }
  img{
      margin: 0 auto;
      margin-bottom: 2rem;
      width:500px;
      height:400px;
      display: block;
  }
  h3{
      text-align: center;
  }
  p{
      text-align: center;
      margin: 1rem;
      padding: 1rem;
      max-width: 700px;
      margin:0 auto;
      border-bottom: .3px solid rgb(48, 45, 45);
      &:last-child{
          border-bottom: 0px;
      }
  }
}