
.card-lesson{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    bo
    h3{
        margin-bottom:.7rem;
    }
    p{
        font-weight: 300;
        margin-bottom:.7rem;
    }
    button{
        margin-top:1rem;
    }
}