@import './variables.scss';

.main__paige-4{
    display: grid;
    max-width: 1200px;
    justify-items: center;
    grid-gap: 20px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding:8rem 1rem;
    @include tablet{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    @include phone{
        grid-template-columns: repeat(auto-fill, 350px);
        padding:4rem 1rem;
    }
    p{
        font-size: $secondary-paragraph;
    }
    button{
        @include button-secondary
    }
}