@import './variables.scss';

.main__paige-4{
    display: grid;
    max-width: 1200px;
    justify-items: center;
    grid-gap: 30px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding:8rem 1rem;
    @include tablet{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    @include phone{
        grid-template-columns: repeat(auto-fill, 350px);
        padding:4rem 1rem;
    }
    p{
    font-size: .9rem;
    line-height: 1.4;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.233);
    }
    button{
        @include button-secondary
    }
}