@import './variables.scss';

.main__page-2{
    text-align: center;
    background: linear-gradient(to bottom, rgba(50, 55, 58, 0.103), white, white);
    border-top:2px solid black;
    padding:4rem 0rem ;
    display: grid;
    box-shadow:$box-shadow-bottom;
    grid-template-columns: 2fr 3fr;
    h3 {
        padding:1rem;
       font-weight: 300;
       font-size: 1.5rem;
    }

}

.secondSection__block{
    padding:2.5rem 4rem;

    &:last-child{
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.377), 7px 7px 2px 2px rgba(0, 0, 0, 0.377);
        background: url('../images/straps.jpg');
        color:white;
        font-weight: 700;
        h2{
            font-weight: 700;
            background: black;
            margin-bottom: 1rem;
            padding:.3rem;
        }
        p{
            margin-bottom: 1rem;
        }
     }
      button{
         @include button-primary;

    }
}












