@import './variables.scss';

.main__page-1{
    letter-spacing: 1px;
    height:100vh;
   min-height: 500px;
    background:#751c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    position:relative;
    &-container{
        position:relative;
        top:-60px;
    }
    h1 {
        max-width: 1000px;
        margin:0 auto;
        font-size: 3rem!important;
        line-height:1.6!important;
        margin-bottom: 3.75rem;
        @include tablet{
            font-size: 7rem;
            font-size: 2.7rem!important;
        }
        @include phone{
            font-size: 2rem!important;
        }
    }
    h4 {
        margin-bottom: 3.75rem;

    }
    h3 {
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.5;
    }
}



.arrow__down{
    font-size: 3rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:3vh;
    animation: move_arrow 2s infinite;
}

.arrow__down:hover{
    cursor:pointer;
}



@keyframes move_arrow {
    0% {position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom:3vh; }
    50% { position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom:2vh;  }
    100%{position: absolute;
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         bottom:3vh; }
  }

@media screen and (max-width: 992px) {
    .main__page-1 h1 {
        line-height: 1.2;
    }

  }