@import './variables.scss';


.main__page-3{
    letter-spacing: 1px;
    background:linear-gradient(rgba(0, 0, 0, 0.568), black),url('../images/third-section-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 2px black;
    color:white;
    &_container{
        padding:7rem 1rem;
    }
    h2 {
        font-weight: 500;
        max-width: 900px;
        margin-bottom:3rem;
    }
    p{
        max-width: 600px;
        font-size: 1.4rem;
        margin:0 auto;
        font-weight: 500;
        margin-bottom: 3rem;
    }

    button{
        @include button-primary;
        padding:1rem 2rem;
    }

}

