@import './variables.scss';
nav{
    height:100vh;
    position:fixed;
    width:165px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    left:0;
    top:0;
    z-index: 5;
    box-shadow: 0px 0px 2px 2px black;
    background: rgb(252, 249, 249);
    img{
        padding:40px 10px;
    }

    li{
        font-weight: 500;
        padding: .5rem;
        transition: all .3s ease-in-out;
        &:hover{
            background: rgba(0, 0, 0, 0.788);
            color:white;
            cursor:pointer;
        }
        &:hover > .aside_ul{
            display: initial;
        }
        &:last-child{
            margin-bottom: 5rem;
        }
    }

    
    }

    .aside_ul{
        position:absolute;
        display: none;
        color:white;
        width:165px;
        height:3000px;
        top:-950px;
        padding-top:1100px;
        left:140px;
        background: rgba(0, 0, 0, 0.897);
        li{
            padding: .5rem;
            border-bottom: 1px solid white;
        }
        li:hover{
            background: transparent;
            color:rgba(0, 0, 0, 0.829);
            cursor:pointer;
            background: $secondary-bg
        }
    }




    .sign_in, .sign_out{
        span{
            margin-right:10px;
        }
        &:hover{
            cursor: pointer;
            font-size: 110%;
        }
        margin-bottom: 2rem;

    }

    .aside_bottom{


        select{
            width:90%;
        }
    }