@import './variables.scss';

.product__promotion{
    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    h2{ color:white;
    
   }
    img{ max-width: 300px; }
    button{
        @include button-primary;
        margin-bottom:1rem;
    }

    @include phone {
   display: flex;
   flex-direction: column;

    }
}

.divider_promotion{


 
    width:100%;
    height:100%;
    text-align: center;
    padding:20px 0px;

h2{
  text-align: center;
  padding:10px 30px;
  margin-right:-10px;
}

      &:last-child{
        background: url('../images/gym-banner-01.png');  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &:first-child{
         background: url('../images/Gym_2.jpg');
    
   }
}