$h1-font-size:2.75rem;
$h3-font-size:1.2rem;
$h2-font-size:2rem;
$p-font-size:1.1rem;
$secondary-paragraph:.8rem;
$roboto: 'Roboto', sans-serif;
$background_red:#fc8a45;
$secondary-bg:#fc8a45;
$background_light:#eeeeee;
$border_light:hsla(0, 0%, 0%, 0.1);
$secondary-bg-hover:#dd681f;
$button-primary-background:#fc8a45;
$button-primary-hover-background:#dd681f;
$font-opacity:rgba(0, 0, 0, 0.507);
$box-shadow-bottom:0 4px 2px -2px rgba(0, 0, 0, 0.205);
$box-shadow-top:0 -5px 5px -5px rgba(128, 128, 128, 0.466);
$box-shadow:0px 0px 2px 2px rgba(0, 0, 0, 0.205);
$tablet: 1280px;
$phone:768px;
$text-shadow:0px 0px 2px rgba(0, 0, 0, 0.548);


@mixin input-focus{
  background: rgb(250, 246, 246);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.411);
}

@mixin button-primary {
    color:white;
    padding:1rem 3rem;
    border-radius: 5px;
    outline:none;
    transition:all .3s ease-in-out;
    border:0px;
    cursor:pointer;
    background: $button-primary-background;
    &:hover{
      transform: scale(1.05);
      background: $button-primary-hover-background;
    }
  }

  @mixin button-secondary {

    padding:.4rem 1.8rem;
    border-radius: 2px;
    outline:none;
    font-weight: 500;
    transition:all .3s ease-in-out;
    border:0px;
    cursor:pointer;
    background: hsla(0, 0%, 50%, 0.39);
    box-shadow: 0px 0px .5px .5px rgba(0, 0, 0, 0.397);

    &:hover{
      transform: scale(1.02);
      background: hsla(0, 0%, 50%, 0.473);
    }
  }



@mixin tablet {
  @media (max-width: #{$tablet}){
   @content;
  }
  }
  @mixin phone {
    @media (max-width: #{$phone}){
     @content;
    }
    }